<p class="back-link"><a href="./">На головну</a></p>
<h1>Завдання 3</h1>
<div class="wrapper">
    <div class="button-wrapper">
        <h2>Підзавдання 1</h2>
        <p>Відкрийте консоль, введіть затримку від 1 до 10000 мс та натисніть кнопку</p>
        <input type="number" id="first-input" class="form-el">
        <button type="button" data-first>Тест підзавдання 1</button>
    </div>
    <div class="button-wrapper">
        <h2>Підзавдання 2</h2>
        <p>Відкрийте консоль, оберіть користувача та натиснісь кнопку</p>
        <select name="Вибір користувача" id="second-input" class="form-el">
            <option value="undefined">--select!--</option>
            <option value="Mango">Mango</option>
            <option value="Poly">Poly</option>
            <option value="Ajax">Ajax</option>
        </select>
        <button type="button" data-second>Тест підзавдання 2</button>
    </div>
    <div class="button-wrapper">
        <h2>Підзавдання 3</h2>
        <p>Відкрийте консоль та натисніть кнопку</p>
        <button type="button" data-third>Тест підзавдання 3</button>
    </div>
</div>
